@import url("./../public/fonts/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    & {
      --color-primary-600: rgb(117, 100, 80);
      --color-primary-500: 100, 83, 63;
      --color-primary-400: 117, 100, 80;

      --color-secondary-600: 141, 114, 79;
      --color-secondary-500: 255, 248, 237;
      --color-secondary-400: 255, 249, 240;
      --color-secondary-300: 255, 251, 245;

      --color-teritary-600: 142, 128, 106;
      --color-teritary-500: 1, 143, 204;
      --color-teritary-400: 255, 249, 240;

    }
  }

  body {
    @apply text-primary-500 bg-secondary-400;
  }

  .category-icon {
    @apply text-teritary-500 md:text-2xl text-xl ml-1
  }

  .btn-behavior , button {
    @apply transition-all active:scale-95
  }

  input {
    @apply p-2 border rounded-lg bg-white outline-none transition-all focus:border-secondary-600 focus:border-opacity-60 focus:shadow-xl
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Badr";
  direction: rtl;
  scroll-behavior: smooth;
}

.scroll-tag{
  scroll-margin-top: 200px;
}

#nprogress .spinner-icon {
  display: none !important;
}